.mainContainer{
    width: 100%;
    min-height: 850px;
    background-color: #F4F5E9;
    background-image: url("/bottom.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;

}


.title{
    font-size: 48px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 80px;
    color: #6EC558;
    font-weight: 500;
}

.svgGroup{
    /* padding-top: 80px; */
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;;
    gap:2.5rem;
    flex-wrap: wrap
    /* display: grid;
    grid-template-columns: 250px 250px 250px ;
    grid-gap: 150px; */

}

.svg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.svg p {
    color: #252C43;
    font-size: 20px;
    font-weight: 600;
}

.register{
    background: #6EC558;
    border-radius: 35px;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 10px 25px;
    margin: 10px 10px 0 10px;
    cursor: pointer;
}

.register:hover{
    background: #ffffff;
    border-radius: 35px;
    border: 1px solid #6EC558;
    color:#6EC558 ;
    padding: 10px 25px;
    margin: 10px 10px 0 10px;
    cursor: pointer;
}


@media only screen and (max-width: 880px) {
.svgGroup{
   flex-direction: column;
}

}